. {
    display:flex;
    flex-direction: column;
    height:100%;
    width:calc(100% - var(--spacer2));
    align-items: center;
    justify-content: flex-start;
    font-size:1.2em;
    padding:var(--spacer);
    overflow:auto;
}
P {
    flex:0 0;
}