. {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display:flex;
    flex-direction: column;
}
.channel-selector {
    flex:0;
    font-size:1.5em;
    padding:2vh 2vw;
}
.channel-properties {
    display:flex;
    flex:1;
    flex-direction: column;
    align-items: flex-start;
    padding:2vh 2vw;
    overflow:auto;
}
.properties-section {
    flex:0;
    width:100%;
    display:flex;
    margin-bottom:var(--spacer2);
    flex-wrap:wrap;
}
.properties-section > * {
    margin-right:var(--spacer);
}
.properties-section .input-greedy {
    flex:1;
}
.properties-section .input-greedy input{
    width:100%;
}
.channel-controls {
    display:flex;
    align-self: flex-end;
    margin:2vh;
}
.verification-status {
    margin-top:var(--spacer2);
    flex:0;
    font-size:1.2em;
}
@media (max-width: 600px) {
    .channel-selector {
        font-size:1.1em !important;
    }
}
