. {
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
    align-items: flex-start;
    justify-content: center;
}
.search-panel {
    flex:1 1;
    display:flex;
    flex-direction:column;
    height:calc(100% - var(--spacer2));
    padding:var(--spacer);
    overflow-y:auto;
    overflow-x:hidden;
}
.search-panel .results {
    flex:1 1;
    overflow:auto;
}
.search-result {
    margin:var(--spacer) 0;
}
.search-result:hover {
    background-color:var(--action-color);
    cursor:pointer;
}
.InputText {
    width:100%;
    font-size:1.5em;
    position:relative;
}
.InputText input {
    padding:var(--spacer);
    margin-right:50px;
    border-radius: var(--spacer);
    width:calc(100% - var(--spacer2));
    min-width:unset;
}
.ad-box {
    flex:0 0;
    border:1px solid black;
    margin-top:var(--spacer2);
    padding:var(--spacer2);
    text-align:center;
    min-width:50%;
    margin-bottom:var(--spacer2);
}

.video-panel {
    flex:1 1;
    margin:var(--spacer);
}
.video-panel.vertical {
    align-self:center;
    max-height:50vw;
}
.video-player {
    flex:0 0;
    width:100%;
    object-fit: scale-down;
}

.search-result-container {
    display: flex;
    align-items: center;
}
.video-preview {
    align-self: stretch;
    width: 200px;
    margin-right: 15px;
    background: #000;
}
.video-preview img {
    width: 200px;
    height: auto;
    display: block;
}