. {
    display: flex;
    font-size: 0.8em;
    flex-grow: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin: 8px;
}
.version-label {
    color:var(--text-quiet);
}

