. {
    position:relative;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    background-color: var(--bg-color);
    color:var(--text-color);
    overflow:auto;
}
.page-content {
    position:relative;
    display:flex;
    flex-direction: column;
    flex:1 1;
    overflow:auto;
}
.page-controls {
    display: flex;
    flex:0 0;
    margin-top:var(--spacer);
    height:40px;
    align-self:flex-end;
}

.properties {
    position:relative;
    display:flex;
    flex-direction: column;
    flex:1 0;
    margin-top:var(--spacerhalf);
    padding-top:var(--spacerhalf);
    border-top:1px solid var(--page-border);
}
.property-set {
    display:flex;
    flex-direction:row;
    margin-top:var(--spacerhalf);
}
.property-set.stacked {
    flex-direction:column;
}
.property-set.hidden {
    display:none;
}
.property-set:not(.stacked) DIV:not(:last-child) {
    margin-right:var(--spacer);
}

