. {
    display: flex;
    flex-direction: row;
}
.nav-tray {
    overflow-y:auto;
}
A {
    text-decoration:unset;
    color:unset;
}
.nav-button {
    display:flex;
    flex:1;
    flex-direction: column;
    width:80px;
    height:80px;
    margin:0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    user-select:none;
    transition:all 200ms;
}
.nav-button .icon {
    font-size:2em;
}
.nav-button .text {
    align-items:center;
    font-size:0.8em;
}
.nav-button:hover {
    color:var(--text-color);
    background-color:var(--bg-color);
    cursor:pointer;
}
.nav-button:hover .text {
    color:var(--text-color);
}
