[Unit]
Description=Samizdat Media

[Service]
WorkingDirectory=/opt/samizdat-media
ExecStart=/usr/bin/npm start &
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=
Environment=PORT=3900

User=ubuntu
Group=ubuntu

[Install]
WantedBy=multi-user.target
